.card
	background-color #eee
	border-radius 1em
	border 1px solid orange
	padding 0.5em
	margin-bottom 1em
	
	.card-title
		font-weight bold

	.description
		padding 0.5em

button
	background-color darkgrey
	font-size 0.7em
	font-weight bold
	color lightgrey
	padding 0.2em 0.4em
