.container
	min-height 100px
	display flex
	flex-direction column
	border 1px dashed blue
	padding 0.5em

label
	width 100%
	background-color orange
	margin auto 0 0 0
	padding 0.4em
	color white
	font-weight bold
	text-align center

