.container
	width 30vw
	display flex
	flex-direction column

button
	align-self flex-start
	font-size .7em
	padding .5em .6em
	border-radius 0.5em
	background-color orange
	color white
	cursor pointer

textarea
input
	border none
	border-bottom 1px solid lightgrey
	background-color #d2f8a8

textarea
	height 40px
	resize none

#description::placeholder
	line-height 60px

