.container
	width 30vw
	display flex
	flex-direction column

button
	align-self flex-start
	font-size 0.8em
	padding 0.5 1em
	cursor pointer

textarea
input
	border none
	border-bottom 1px solid lightgrey

textarea
	height 40px
	resize none

#description::placeholder
	line-height 60px

