/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root
	box-sizing border-box
	--bg-color #121212
	--bg-secondary #282828
	--font-color white
	--font-secondary #b3b3b3
	--card-color #404040
	--button-color #BB86FC
*
::after
::before
	box-sizing inherit

body
	background-color var(--bg-color)
	font-size 0.9em
	font-family 'Open Sans', sans-serif

